.bg {
  height: 40vh;
  background: url("../assets/images/bg.jpg") center;
  background-size: cover;
}
.heading {
  height: 45vh;
  background: transparent;
}
select {
  border: none;
  padding: 6px 15px;
  border: none;
  background: #343444;
  cursor: pointer;
  border-radius: 10px;
}
select option {
  background: #343444;
}
select:focus {
  border: none;
  outline: none;
}
